<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UniversalSuite" verbose="1" parallel="tests">
    <test name="IOS_1">
        <parameter name="platform" value="ios"/>
        <parameter name="properties" value="ios.properties"/>
        <classes>
            <class name="signIn.ios.SignInTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Android_2">
        <parameter name="platform" value="android"/>
        <parameter name="properties" value="android.properties"/>
        <classes>
            <class name="signIn.android.SignInTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>